<div class="edit-tpl">
  <div class="toolbar">
    <div class="inner">
      <div class="left">
        <button nz-button class="m-hsm" nzSize="small" nzType="default">
          恢复默认布局
        </button>
        <div class="controller">
          字体大小
          <nz-input-number
            class="m-hsm"
            [(ngModel)]="fontSize"
            [nzSize]="'small'"
            [nzMin]="1"
            [nzMax]="10"
            [nzStep]="1"
          ></nz-input-number>
          <button nz-button class="m-hsm" nzSize="small" nzType="default">
            <i nz-icon nzType="bold" nzTheme="outline"></i>
          </button>
          <button nz-button class="m-hsm" nzSize="small" nzType="default">
            <i nz-icon nzType="italic" nzTheme="outline"></i>
          </button>
          <button nz-button class="m-hsm" nzSize="small" nzType="default">
            <i nz-icon nzType="underline" nzTheme="outline"></i>
          </button>
        </div>
      </div>
      <div class="right">
        <button nz-button class="m-hsm" nzSize="small" nzType="default">
          打印预览
        </button>
        <button nz-button class="m-hsm" nzSize="small" nzType="primary">
          保存
        </button>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="paper" style="width: 1100px;height: 1123px;padding: 15px;">
      <div class="page-header"></div>
      <div class="page-footer"></div>
      <div class="header" style="height: 100px;">
        <div class="area-mark">
          表头区
        </div>
        <div
          style=" border: 1px solid #ddd;"
          nz-resizable
          [nzMaxWidth]="600"
          [nzMinWidth]="80"
          [nzMaxHeight]="200"
          [nzMinHeight]="80"
          [style.height.px]="height"
          [style.width.px]="width"
          (nzResize)="onResize($event)"
          cdkDragBoundary=".header"
          cdkDrag
        >
          <nz-resize-handles></nz-resize-handles>
          字段一
        </div>
        <div
          style=" border: 1px solid #ddd;"
          nz-resizable
          [nzMaxWidth]="600"
          [nzMinWidth]="80"
          [nzMaxHeight]="200"
          [nzMinHeight]="80"
          [style.height.px]="height"
          [style.width.px]="width"
          (nzResize)="onResize($event)"
          cdkDragBoundary=".header"
          cdkDrag
          nz-resizable
          cdkDragBoundary=".header"
          cdkDrag
        >
          字段二
          <nz-resize-handles></nz-resize-handles>
        </div>
        <div
          style=" border: 1px solid #ddd;"
          nz-resizable
          [nzMaxWidth]="600"
          [nzMinWidth]="80"
          [nzMaxHeight]="200"
          [nzMinHeight]="80"
          [style.height.px]="height"
          [style.width.px]="width"
          (nzResize)="onResize($event)"
          cdkDragBoundary=".header"
          cdkDrag
        >
          字段三
          <nz-resize-handles></nz-resize-handles>
        </div>
      </div>
      <div class="body">
        <div class="area-mark">
          表体区
        </div>
      </div>
      <div class="footer" style="height: 80px;">
        <div class="area-mark">
          表尾区
        </div>
      </div>
    </div>
  </div>
  <div class="toolpanel">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
      <nz-tab [nzTitle]="'基础配置'"> </nz-tab>
      <nz-tab [nzTitle]="'数据源设置'"> </nz-tab>
    </nz-tabset>
  </div>
</div>
