<!-- <div class="p-tpl">
  <div class="header">
    <div class="area-mark" [style.left.px]="srv.markLeft">
      表头区
    </div>

    <lm-dnd-element [data]="h" boundary=".header" *ngFor="let h of srv.selectedFormHeaders">
      {{ h.type === 'input' ? h.value : h.title }}
    </lm-dnd-element>
  </div>
  <div class="body">
    <div class="area-mark" [style.left.px]="srv.markLeft">
      表体区
    </div>
    <div cdkDropList cdkDropListOrientation="horizontal" class="table-header" (cdkDropListDropped)="drop($event)">
      <div class="table-header-item" *ngFor="let h of srv.selectedFormBodys" cdkDrag>{{ h.title }}</div>
    </div>
  </div>
  <div class="footer" [style.height.px]="srv.footerHeight">
    <div class="area-mark" [style.left.px]="srv.markLeft">
      表尾区
    </div>
    <lm-dnd-element [data]="h" boundary=".footer" *ngFor="let h of srv.selectedFormFooters">
      {{ h.type === 'input' ? h.value : h.title }}
    </lm-dnd-element>
  </div>
</div> -->
