<div
  class="p-tpl"
  [style.padding.px]="srv.padding"
  [style.height.px]="srv.paperHeight"
  [style.width.px]="srv.paperWidth"
>
  <div class="page-header" [style.width.px]="srv.paperWidth">
    {{ srv.paperHeaderText }}
  </div>
  <div class="page-footer" [style.width.px]="srv.paperWidth">
    {{ srv.paperFooterText }}
  </div>
  <div class="header" [style.height.px]="srv.headerHeight">
    <div class="placeholder" *ngFor="let h of srv.formPics">
      <div [style]="h.style | style">
        <img [src]="h.value" />
      </div>
    </div>
    <div class="placeholder" *ngFor="let h of srv.formHeaders">
      <div [style]="h.style | style">{{ h.title }}{{ h.title ? ':' : '' }}{{ h.value }}</div>
    </div>
  </div>
  <div class="body">
    <table>
      <thead>
        <tr>
          <th *ngFor="let h of srv.formBodys" [style]="h.style | style">
            {{ h.title }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th *ngFor="let h of srv.formBodys" [style]="h.style | style">
            {{ h.title }}
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="footer"
    [style.height.px]="srv.footerHeight"
    [ngStyle]="{ bottom: srv.fixedFooter ? '30px' : 'auto', width: 'calc(100% - ' + srv.padding * 2 + 'px)' }"
  >
    <div class="placeholder" *ngFor="let h of srv.formFooters">
      <div [style]="h.style | style">{{ h.title }}{{ h.title ? ':' : '' }}{{ h.value }}</div>
    </div>
  </div>
</div>
