<div class="edit-tpl">
  <lm-tool-bar> </lm-tool-bar>
  <div class="panel">
    <div class="paper" [style.padding.px]="srv.padding" style="width: 1100px;height: 1123px;">
      <div class="page-header">
        {{ srv.paperHeaderText }}
      </div>
      <div class="page-footer">
        {{ srv.paperFooterText }}
      </div>
      <div class="header" [style.height.px]="srv.headerHeight">
        <div class="area-mark" [style.left.px]="srv.markLeft">
          表头区
        </div>
        <lm-dnd-element>
          字段一
        </lm-dnd-element>
        <lm-dnd-element>
          字段二
        </lm-dnd-element>
        <lm-dnd-element>
          字段三
        </lm-dnd-element>
      </div>
      <div class="body">
        <div class="area-mark" [style.left.px]="srv.markLeft">
          表体区
        </div>
        <nz-table nzSize="small">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody></tbody>
        </nz-table>
      </div>
      <div class="footer" [style.height.px]="srv.footerHeight">
        <div class="area-mark" [style.left.px]="srv.markLeft">
          表尾区
        </div>
      </div>
    </div>
  </div>
  <div class="toolpanel">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
      <nz-tab [nzTitle]="'基础配置'">
        <form nz-form nzLayout="vertical">
          <nz-form-item nzGutter="8">
            <nz-form-label nzRequired>打印对象</nz-form-label>
            <nz-form-control>
              <nz-select [(ngModel)]="srv.printObj" [ngModelOptions]="{ standalone: true }">
                <nz-option *ngFor="let p of srv.printObjs" [nzValue]="p" [nzLabel]="p.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>模板名称</nz-form-label>
            <nz-form-control>
              <input
                type="text"
                nz-input
                [(ngModel)]="srv.printName"
                [ngModelOptions]="{ standalone: true }"
                placeholder="请输入模板名称"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>纸张类型</nz-form-label>
            <nz-form-control>
              <nz-select [(ngModel)]="srv.paper" [ngModelOptions]="{ standalone: true }">
                <nz-option *ngFor="let p of srv.papers" [nzValue]="p" [nzLabel]="p.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>内边距</nz-form-label>
            <nz-form-control>
              <nz-col nzSpan="12">
                <nz-slider
                  [nzMin]="0"
                  [nzMax]="50"
                  [(ngModel)]="srv.padding"
                  [ngModelOptions]="{ standalone: true }"
                ></nz-slider>
              </nz-col>
              <div nz-col nzSpan="4">
                <nz-input-number
                  [ngModelOptions]="{ standalone: true }"
                  [nzMin]="1"
                  [nzMax]="20"
                  [ngStyle]="{ marginLeft: '16px' }"
                  [(ngModel)]="srv.padding"
                ></nz-input-number>
              </div>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-tab>
      <nz-tab [nzTitle]="'数据源设置'"> </nz-tab>
    </nz-tabset>
  </div>
</div>
